<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h1>Cadastro de Produtos</h1>
        <form id="cadastrar">
            <input type="text" id="id" name="id" placeholder="ID" required>
            <input type="text" id="valor" name="valor" placeholder="Valor" required>
            <input type="text" id="nome" name="nome" placeholder="Nome" required>
            <button type="button" id="enviar" onclick="cadastrar()">Enviar</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="tabela"></tbody>
        </table>

        <a href="index.html">Home</a>
    </div>
    
    <script>

        function cadastrar(){
            let dados = $('#cadastrar').serialize();
            $.post("http://localhost:8080/produto/cadastrar",dados);
        }

        
    </script>

</body>
</html>