<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h1>Cadastro de Produtos</h1>
        <form id="cadastrar">
            <input type="text" id="id" name="id" placeholder="ID" required>
            <input type="text" id="valor" name="valor" placeholder="Valor" required>
            <input type="text" id="nome" name="nome" placeholder="Nome" required>
            <button type="button" id="enviar" onclick="cadastrar()">Enviar</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Valores</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="tabela"></tbody>
        </table>

        <a href="index.html">Home</a>
    </div>
    
    <script>

        function cadastrar(){
            let dados = $('#cadastrar').serialize();
            $.post("http://localhost:8080/produto/cadastrar",dados, function(){
                listar();
            });
        }

        function listar(){
            $.get("http://localhost:8080/produto", function(data){
                let tabela = $('#tabela');
                tabela.empty();
                data.forEach(produto => {
                    tabela.append(`
                        <tr>
                            <td>${produto.id}</td>
                            <td><span id="valor2_${produto.id}">${produto.nome}</span></td>
                            <input type="text" id="input_nome_${produto.id}" placeholder="Novo Nome" style="display:none;">
                            <td>
                                <span id="valor_${produto.id}">${produto.valor}</span>
                                <input type="text" id="input_nome_${produto.id}" placeholder="Novo Nome" style="display:none;">
                                <input type="text" id="input_valor_${produto.id}" placeholder="Novo Valor" style="display:none;">
                            </td>
                            <td>
                                <button type="button" id="atualizar_${produto.id}" onclick="atualizar(${produto.id})">Atualizar</button>
                                <button type="button" id="enviarAlteracoes_${produto.id}" style="display:none;" onclick="atualizarfim(${produto.id})">Enviar Alterações</button>
                                <button type="button" onclick="deletar(${produto.id})">Deletar</button>
                            </td>
                        </tr>
                    `);
                });
            });
        }

        function atualizar(id) {
            $(`#valor2_${id}`).hide();
            $(`#valor_${id}`).hide();
            $(`#input_nome_${id}`).val($(`#valor2_${id}`).text()).show();
            $(`#input_valor_${id}`).val($(`#valor_${id}`).text()).show();
            $(`#atualizar_${id}`).hide();
            $(`#enviarAlteracoes_${id}`).show();
        }

        function atualizarfim(id) {
            let novoNome = $(`#input_nome_${id}`).val();
            let novoValor = $(`#input_valor_${id}`).val();
            $.post("http://localhost:8080/produto/atualizar", { id: id, nome: novoNome,valor: novoValor }, function () {
                listar();
            });
        }

        function deletar(id) {
            $.post("http://localhost:8080/produto/deletar", { id: id }, function() {
                listar(); // Atualiza a tabela após a exclusão
            });
        }

        $(document).ready(function() {
            listar();
        });
    </script>

</body>
</html>