<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="cadastrar">
        <input type="text" id="id" name="id" placeholder="id">
        <input type="text" id="nome" name="nome" placeholder="nome">
        <button type="button" id="enviar" onclick="cadastrar()">Enviar</button>
    </form>

    <table>
        <thead>
            <td>Id</td>
            <td>Nome</td>
            <td id="acoes">Ações</td>
        </thead>

        <tbody id="tabela">

        </tbody>
    </table>


    <a href="index.html">Home</a>

    <script>
        function cadastrar(){
            let dados = $('#cadastrar').serialize();
            $.post("http://localhost:8080/usuario/cadastrar",dados, function(){
                listar();
            });
        }

        function listar(){
            $.get("http://localhost:8080/usuario", function(data){
                let tabela = $('#tabela');
                tabela.empty();
                data.forEach(usuario => {
                    tabela.append(`
                        <tr>
                            <td>${usuario.id}</td>
                            <td>${usuario.nome}</td>
                            <td>
                                <button type="button" onclick="deletar(${usuario.id})">Deletar</button>
                            </td>
                        </tr>
                    `);
                })
            })
        }


        function deletar(id){
            $.post("http://localhost:8080/usuario/deletar", { id: id }, function(){
                listar();
            });
        }

        $(document).ready(function() {
            listar();
        });

    </script>

</body>
</html>